[Unit]
Description=My Pokéhoops
After=network.target

[Service]
User=ubuntu
Group=ubuntu
Environment="LANG=en_US.UTF-8"
Environment="LANGUAGE=en_US.UTF-8:"
WorkingDirectory=/home/ubuntu/PokeHoops
ExecStart=/home/ubuntu/PokeHoops/env/bin/python3 /home/ubuntu/PokeHoops/server.py
StandardOutput=file:/home/ubuntu/PokeHoops/flask.log
StandardError=file:/home/ubuntu/PokeHoops/flask.log
Restart=always

[Install]
WantedBy=multi-user.target