body {
    background-color: #f9f9f9 !important;
}

.pokemonText {
    font-family: 'Press Start 2P', cursive;
    font-size: 30 px;
}

.pokemonAnimeText{
    font-family: 'Pokemon Solid', sans-serif;
}