<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      Pokéhoops
    </title>
    <link rel = "icon" href = "https://cdn.discordapp.com/attachments/1012857159421263942/1115764930524753980/Gr0wlitttbeats_pokeball_basketball_logo_e5429427-9866-48aa-8172-3cb1f1069a33.png" type = "image/x-icon">
    {% block head %}{% endblock %}
  </head>
  <body>
    <a href="/">Pokéhoops</a>
    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}
    {% block body %}{% endblock %}
    {% block after_body %}{% endblock %}
  </body>
</html>
