<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      Pokéhoops
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
    <link href="../static/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel = "icon" href = "https://media.discordapp.net/attachments/1012857159421263942/1115765963162386493/Gr0wlitttbeats_pokeball_basketball_logo_53d0d645-11b6-4602-803a-13085909be6f.png?width=1306&height=1306" type = "image/x-icon" class="justify-content-center">
    <style>
    </style>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="text-bg-light p-3 brand-text">
    <nav class="navbar navbar-expand-lg" style="background-color: #b62d27;">
      <div class="container-fluid pokemonAnimeText">
        <a class="navbar-brand" href="/">
          <img src="https://media.discordapp.net/attachments/1012857159421263942/1115765963162386493/Gr0wlitttbeats_pokeball_basketball_logo_53d0d645-11b6-4602-803a-13085909be6f.png?width=1306&height=1306" alt="Logo" width="40" height="38"> 
          Pokéhoops
        </a>
        <a class="nav-link" href="/players">
          View All Players
        </a>
        <a class="nav-link" href="/teams">
          View All Teams
        </a>
        <a class="nav-link" href="/make_a_starting_5">
          Create a Starting Five
        </a>
        {% if session.get('user_email') %}
        <a class="nav-link" href="/user_dashboard">
          View Dashboard
        </a>
        {% else %}
        <a class="nav-link" href="/login">
          Login/Signup
        </a>
        {% endif %}
      </div>
    </nav>
  </div>
<div class="text-bg-light p-3">
    {% for msg in get_flashed_messages() %}
      <p class="flash-msg pokemonText text-center">
        {{ msg }}
      </p>
    {% endfor %}
    {% block body %}{% endblock %}
    {% block after_body %}{% endblock %}
</div>
  </body>
</html>
