{% extends 'base.html' %}

{% block body %}
  <div class="container-fluid text-center">
    <div class = pokemonText>
      <h1>Welcome to Pokéhoops!</h1>
    </div>
        <div><h2><img src="https://media.giphy.com/media/VapWo1dvqJquP3frRb/giphy.gif"></h2></div>
    
      <h4 style="font-size: x-large;">Pokéhoops is a captivating Flask web application that combines the world of NBA basketball with the excitement of Pokémon. 
        By leveraging NBA player stats, it generates a personalized statistic score for every active NBA player based on the P.O.K.E.D. 
        framework (Power, Offense, Kinetics, Endurance, Defense). This unique crossover project brings together the thrill of sports 
        analytics and the nostalgia of Pokémon, resulting in an engaging and innovative user experience. You can favorite players, 
        build a hypothetical starting 5 and calculate that team's POKED and view current team rosters/player info from 22-23 NBA season.</h4>

      <h6 class="pokemonText"><a href="/players" class="link-danger">So what are you waiting for? Let's see the players!</a></h6>
  </div>
  {% endblock %}