{% extends 'base.html' %}

{% block body %}
  <h1>Welcome to Pokéhoops!</h1>
  <div><h2><img src="https://media.giphy.com/media/VapWo1dvqJquP3frRb/giphy.gif"></h2></div>
    
   <h4>Pokéhoops is a NBA database that utilizes 🏀 NBA player stats to calculate a POKED (P.O.K.E.D. - Power, Offense, Kinetics, Endurance, Defense)
    score of every active (and teamed although there is a 'free agent team') NBA player. The inital project will include a searchable player database with team rosters, user login
    and a 'favorite player' button on each player's individual overview page. 
  
   In this initial version we will use season stats since we are in the offseason. </h4>
  {% endblock %}