{% extends 'base.html' %}

{% block body %}
  <div class="container-fluid text-center">
    <div class = pokemonText>
      <h1>Welcome to Pokéhoops!</h1>
    </div>
        <div><h2><img src="https://media.giphy.com/media/VapWo1dvqJquP3frRb/giphy.gif"></h2></div>
    
      <h5 style="font-size: x-large;">Pokéhoops is a captivating web application that combines the world of NBA basketball with the excitement of Pokémon. 
        By leveraging NBA player stats, it generates a personalized statistic score for every active NBA player based on my custom P.O.K.E.D. 
        statistic (Power, Offense, Kinetics, Endurance, Defense). 
        <br><br>
        You can favorite players, build a hypothetical starting 5, calculate that team's POKED and view current team rosters/player info from 22-23 NBA season.</h5>
        <br>
      <h6 class="pokemonText"><a href="/players" class="link-danger">So what are you waiting for? Let's see the players!</a></h6>
  </div>
  {% endblock %}