{% extends 'base.html' %}

{% block body %}
<div class="container text-center">
<h2 class = pokemonText>Create an Account</h2>
<form action="/register" method="POST">
  <p class = pokemonText>
    Email <input type="text" name="email">
  </p>

  <p class = pokemonText>
    Password <input type="password" name="password">
  </p>

  <p>
    <input type="submit" class="btn btn-danger">
  </p>
</form>

<h2 class = pokemonText>Log In</h2>
<form action="/login" method="POST">
  <p class = pokemonText>
    Email <input type="text" name="email">
  </p>

  <p class = pokemonText>
    Password <input type="password" name="password">
  </p>

  <p>
    <input type="submit" class="btn btn-danger">
  </p>
</form>
</div>
{% endblock %}