{% extends 'base.html' %}
{% block body %}
<h1>{{ session['user_email'] }}'s Dashboard</h1>
<form action="/logout">
<input type="submit" value="Logout"/>
</form>
 <ul>
    <li>
        <b>Favorite Players</b>
    </li> 
  <div id="players_list">
    {% for player in player_list %}
      <li>
        <a href="/players/{{ player.player_id }}">
          {{ player.player_name }} | {{player.team_id}} | {{player.player_position}} | {{player.poked_score}} </a> &nbsp; &nbsp; <a href="/remove_favorite/{{player.player_id}}"><b>Remove Player From Favorites</b></a> 
      </li>
    {% endfor %}
  </ul>
</div>   
<script src="{{ url_for('static', filename='player_sort.js') }}"></script>
{% endblock %}