{% extends 'base.html' %}
{% block body %}
<h1>{{ session['user_email'] }}'s Dashboard</h1>
 <ul>
    <li>
        <b>Favorite Players</b>
    </li> 
  <div id="players_list">
    {% for player in player_list %}
      <li>
        <a href="/players/{{ player.player_id }}">
          {{ player.player_name }} | {{player.team_id}} | {{player.player_position}} | {{player.poked_score}}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>   
<script src="{{ url_for('static', filename='player_sort.js') }}"></script>
{% endblock %}